# 공통 라우팅은 include로 재사용 (80 / 443 동일)
server {
    listen 80;
    server_name _;
    include /etc/nginx/adju-common.conf;
}

server {
    listen 443 ssl;
    http2 on;
    server_name _;

    ssl_certificate     /etc/nginx/certs/self.crt;
    ssl_certificate_key /etc/nginx/certs/self.key;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    include /etc/nginx/adju-common.conf;
}
